* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

#header{
  background: green;
  align-items: center;
  color: white;
  display: flex;
  gap: 10px;
  height: 55px;
  justify-content: center;
}

#footer{
  background: green;
  align-items: center;
  color: white;
  display: flex;
  gap: 10px;
  height: 55px;
  justify-content: center;
}