* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

h1{
  font-size: 14px;
}

#header{
  background: green;
  align-items: center;
  color: white;
  display: flex;
  gap: 10px;
  height: 55px;
  justify-content: center;
}

#footer{
  background: green;
  align-items: center;
  color: white;
  display: flex;
  gap: 10px;
  height: 55px;
  justify-content: center;
}

.img-fluid{
  object-fit: cover;
  height: 100%;
  max-width: 85%;
}

.col-md-4 {
  height: auto;
  overflow: hidden;
}